src/*.js
src/*.map
src/**/*.js
src/**/*.map
src/db/DBconfig.ts
src/db/DBconfig.js
src/db/DBconfig.map
test/*.js
test/*.map
npm-debug.log
mochawesome-reports/
node_modules/
.idea/
.yarnclean
coverage/
.DS_Store
.nyc_output/
local/
!src/rest/public/javascripts/*.js
