
<div class="jumbotron">
    <h1>Flight Manager</h1>
</div>

<div class="jumbotron" id="flightSearch">

    <div class="searchFlexBar">
        <div class="searchBox">
            <label><b>Flying from</b></label>
            <input type="text" placeholder="Enter City" id="dptCity" required>
        </div>

        <div class="searchBox">
            <label><b>Flying to</b></label>
            <input type="text" placeholder="Enter City" id="arrCity" required>
        </div>
    </div>

    <div class="searchBox">
        <label><b>Departing</b></label><br>
        <input type="date" id="dptDate" required>
    </div>

    <button type="button" class="btn btn-primary" id="submitQuery">Search</button>
    <button type="button" class="btn btn-primary" id="clearTable">Clear</button>

</div>

<div class="resDiv" style="display: none" id="noMatchedFlight">
    <span class="failText">No flight matches your search.</span>
</div>

<!--QUERY RESULT-->
<div class="resDiv" id="resDiv">
    <table class="table table-hover" id="flightSearchTable"></table>
</div>

<!-- MEDICAL OPTION -->
<div class="jumbotron" style="display: none" id="medProtection">
    <label><b>Would you like to add medical protection to your trip?</b></label><br>
    <input type="checkbox" onclick="addMedProtection()"> only $50 <small>per person</small>
</div>

<!-- BAGGAGE OPTION -->
<div class="jumbotron" style="display: none" id="baggageOption">
    <button type="button" class="btn btn-primary" id="addBaggage">Add Baggage</button>
</div>

<!-- RESERVATION SUMMARY -->
<div class="jumbotron" style="display: none" id="reservationSummary">
    <h4>Reservation Summary</h4>
    <hr>
    <table class="table table-hover" id="reservationSummaryTable">
        <tr>
            <th>Flight Number</th>
            <td id="rs-flightNum"></td>
        </tr>
        <tr>
            <th>Confirmation Number</th>
            <td id="rs-confNum"></td>
        </tr>
        <tr>
            <th>Departure</th>
            <td id="rs-dptCity"></td>
        </tr>
        <tr>
            <th>Arrival</th>
            <td id="rs-arrCity"></td>
        </tr>
        <tr>
            <th>Departing Date</th>
            <td id="rs-dptDate"></td>
        </tr>
        <tr>
            <th>Departing Time</th>
            <td id="rs-dptTime"></td>
        </tr>
        <tr>
            <th>Seat Number</th>
            <td id="rs-seatNum"></td>
        </tr>
        <tr>
            <th>Carry-on luggage</th>
            <td id="rs-carryon"></td>
        </tr>
        <tr>
            <th>Checked luggage</th>
            <td id="rs-checked"></td>
        </tr>
        <tr>
            <th>Medical Protection</th>
            <td id="rs-medProt"></td>
        </tr>
        <tr>
            <th>Total Cost</th>
            <td id="rs-cost"><b><</b></td>
        </tr>
    </table>


    <div id="reservationButtons">
        <input type="checkbox" id="usePoint" style="display: none" onclick="updateTotalCost()">
        <span class="successText"></span>
        <button type="button" class="btn btn-primary" id="completeReservation">Complete Booking</button>
        <button type="button" class="btn btn-primary" id="cancelReservation">Cancel</button>
    </div>

    <div id="reservationCompleted" style="display: none">
        <span class="successText">You have completed your reservation!</span>
    </div>

    <div class="resDiv" id="baggageTagged" style="display: none">
        <table class="table table-striped" id="taggedBaggageTable"></table>
    </div>
</div>
