<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Flight Manager</title>
    <script type="text/javascript" src="../public/javascripts/jquery-3.2.0.js"></script>
    <script type="text/javascript" src="../public/javascripts/index.js"></script>
    <script type="text/javascript" src="../public/javascripts/flights.js"></script>
    <script type="text/javascript" src="../public/javascripts/schedule.js"></script>
    <script type="text/javascript" src="../public/javascripts/employees.js"></script>
    <script type="text/javascript" src="../public/javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/index.css">
    <link rel="stylesheet" href="../public/stylesheets/login.css">
    <link rel="stylesheet" href="../public/stylesheets/signup.css">
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" onclick="loadBlockContent('./home')">FlightManager</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right" id="right">
                <li class="not-logged-in" id="signup"><a onclick="$('.container').load('./signup');">Sign Up</a></li>

                <li class="not-logged-in" id="login"><a onclick="$('.container').load('./login');">Login</a></li>
                <li class="common-menu" id="logout"><a>Logout</a></li>

                <li class="common-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="common-menu" id="updateProfile"><a onclick="loadBlockContent('./profile')">Update
                            Profile</a></li>
                        <li class="passenger-menu" id="check-reservation"><a
                                onclick="loadBlockContent('./reservation')">My Reservations</a></li>
                        <li class="pilot-attendant-menu" id="check-schedule"><a
                                onclick="loadBlockContent('./schedule')">My Schedules</a></li>
                        <li class="clerk-menu" id="check-flights"><a onclick="loadBlockContent('./flights')">Search
                            Flights</a></li>
                        <li class="employee-menu" id="check-employee"><a onclick="loadBlockContent('./employee')">View
                            Employees</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container"></div>

</body>
</html>