<form action='/' method="POST" id="loginForm">


    <div class="container">
        <p class="loginMsg" id="loginMsg"></p>

        <div class="user-type">
            <input type="radio" id="c1" name="user-type" value="passenger" checked="checked"/>
            <label for="c1">Passenger</label>&nbsp;&nbsp;
            <input type="radio" id="c2" name="user-type" value="pilot"/>
            <label for="c2">Pilot</label>&nbsp;&nbsp;
            <input type="radio" id="c3" name="user-type" value="flightAttendant"/>
            <label for="c3">Flight Attendant</label>&nbsp;&nbsp;
            <input type="radio" id="c4" name="user-type" value="airlineClerk"/>
            <label for="c4">Airline Clerk</label>
        </div>

        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="cancel()" class="cancelbtn">Cancel</button>
    </div>
</form>

</body>
<script>

    var isLoggedIn = JSON.parse(window.sessionStorage.getItem('isLoggedIn'));
    if (isLoggedIn) window.location.href = './';
    $('#loginForm').submit(function(event) {
        $('#loginMsg').text('');
        event.preventDefault();


        var $form = $('#loginForm'),
            username = $form.find("input[name='uname']").val(),
            usertype = $(".user-type input[type='radio']:checked").val(),
            sql = "select password from passenger where email=" + JSON.stringify(username);
        if (usertype !== "passenger") {
            var alias = usertype.charAt(0);
            sql = "select password from " + usertype + "\n" + alias + ", employee e where e.eid=" + alias + ".eid and email=" + JSON.stringify(username);
        }
        $.ajax({
            type: 'POST',
            url: './login',
            data: JSON.stringify({query: sql}),
            contentType: "application/json; charset=utf-8",
            success: loginHandler
        })
    });

    function loginHandler(res) {
        if (res.body.result.length === 0) {
            $('#loginMsg').text("User does NOT exist");
            return;
        }
        var email = $('#loginForm').find("input[name='uname']").val(),
            password = $('#loginForm').find("input[name='psw']").val(),
            usertype = $(".user-type input[type='radio']:checked").val();
        if(res.body.result[0].password !== password) {
            $('#loginMsg').text("Password does NOT match");
            return;
        }
        console.log("Password matches!");
        createSession(email, usertype);
        window.location.href = './';
    }

    function createSession(email, usertype) {
        var session = window.sessionStorage;
        if (typeof(session) !== "undefined") {
            session.setItem('email', email);
            session.setItem('usertype', usertype);
            session.setItem('isLoggedIn', true);
        }
        else {
            alert("Session Not Available");
        }
    }

    function cancel() {
        window.location.href = './';
    }
</script>