<form action="/" method="POST" id="updateForm">
    <div class="jumbotron">

        <label><b>Email: </b></label> <br>
        <text id="email"></text>
        <br><br>
        <label><b>Name: </b></label> <br>
        <text id="name"></text>
        <br><br>

        <label><b>Current Password</b></label>
        <input type="password" placeholder="Enter Current Password *" name="currpsw">

        <label><b>New Password</b></label>
        <input type="password" placeholder="Enter New Password" name="psw">

        <label><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat">

        <label><b>Address: </b></label>
        <br><text id="addr"></text>
        <input type="text" placeholder="Enter New Address" name="address">

        <div class="clearfix">
            <button type="submit" class="btn btn-primary" id = "update_profile">Update</button>
            <button type="button" class="btn btn-danger" id = "cancel_profile">Cancel</button>


        </div>
        <span class="failText"><p class="updateMsg" id="updateMsg"></p></span>

    </div>
</form>

</body>

<script>
    var email = window.sessionStorage.getItem("email");
    var usertype= window.sessionStorage.getItem('usertype');

    $("#email").text(email);
    if (usertype === "passenger")
        var sql = "select * from passenger where email = " + JSON.stringify(email);
    else
        var sql = "select * from employee where email = " +JSON.stringify(email);
    postQuerySync({query: sql}, fillInProfile);

    function fillInProfile(data) {
        var info = data.body.result[0];
        if (usertype === "passenger")
            $("#name").text(info["pname"]);
        else
            $("#name").text(info["ename"]);

        var address = info["address"];
        if (address === null)
            address = "n/a";
        $('#addr').text("current:   " + address);

    }

    var isLoggedIn = JSON.parse(window.sessionStorage.getItem('isLoggedIn'));
    if (!isLoggedIn) window.location.href = './';
    $("#cancel_profile")
        .click(function () {
            window.location.href = '/'
        });
    $('#updateForm').submit(function () {


        $('#updateMsg').text('');
        event.preventDefault();

        var $form = $('#updateForm'),
            email = JSON.stringify(window.sessionStorage.getItem("email")),
            currpwd = JSON.stringify($form.find("input[name='currpsw']").val()),
            password = JSON.stringify($form.find("input[name='psw']").val()),
            repassword = JSON.stringify($form.find("input[name='psw-repeat']").val()),
            address = JSON.stringify($form.find("input[name='address']").val());

        var empty = JSON.stringify("");
        if(currpwd === empty) {
             $('#updateMsg').text('You must enter Current Password');
        }


        if  ($('#updateMsg').text() === '') {
            checkPassword();
        }

        if  ($('#updateMsg').text() === '') {
            if (password === empty && address === empty)
                $('#updateMsg').text('No update to be done. Missing information');
        }

        if  ($('#updateMsg').text() === '') {
            if (password !== repassword) {
                $('#updateMsg').text('Password confirmation does NOT match');
            }
        }

        if  ($('#updateMsg').text() === '') {
            var user = window.sessionStorage.getItem("usertype");
            if (user !== "passenger")
                user = "employee";
            else
                user = "passenger";

            var sql = "update " + user + " set "

            if (password !== empty) {
                sql += "password = " + password;
                if (address !== empty)
                    sql += ", "
            }
            if (address !== empty)
                sql += " address = " + address;

            sql += " where email=" + email;

            postQuerySync({query: sql}, updateProfileHandler);
            return  window.location.href = '/'
        }

    });

    function updateProfileHandler(res) {
        return $('#updateMsg').text('Update successful!');
        window.sessionStorage.setItem("isLoggedIn", true);
        window.location.href = '/'
    }


    function checkPassword(){
        var user = window.sessionStorage.getItem("usertype"),
            email = JSON.stringify(window.sessionStorage.getItem("email")),
            validPsw = true;
        if (user !== "passenger")
            user = "employee";
        else
            user = "passenger";
        var sql = "select password from "+user+" where email=" +email,
            info = {query: sql};


        postQuerySync(info, checkPasswordHandler);
        return validPsw;

    }

    function checkPasswordHandler(res) {
        var fields = getFields(res);
        var result = res.body['result'];
        var oldPassword;
        result.forEach(function(result) {
            fields.forEach(function(field) {
                oldPassword = 'N/A';
                if (typeof result[field] !== 'undefined') {
                    oldPassword = result[field];
                }
            })
        });

        var password = $('#updateForm').find("input[name='currpsw']").val();
        if(oldPassword !== password) {
            $('#updateMsg').text("Current Password does NOT match");
            return;
        }
        return;
    }


</script>