<form action="/" method="POST" id="updateForm">
    <div class="container">
        <p class="updateMsg" id="updateMsg"></p>
        <label><b>Email: </b></label> <br>
        <text id="email"></text>
        <br><br>
        <label><b>Name: </b></label> <br>
        <text id="name"></text>
        <br><br>

        <label><b>Current Password</b></label>
        <input type="password" placeholder="Enter Current Password" name="currpsw">

        <label><b>New Password</b></label>
        <input type="password" placeholder="Enter New Password" name="psw">

        <label><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat">

        <!--<label><b>First Name</b></label>-->
        <!--<input type="text" placeholder="Enter First Name" name="fname" pattern="[a-zA-Z]+(\s[a-zA-Z]+)*">-->

        <!--<label><b>Last Name</b></label>-->
        <!--<input type="text" placeholder="Enter Last Name" name="lname" pattern="[a-zA-Z]+">-->

        <label><b>Phone Number</b></label>
        <input type="text" placeholder="Enter Phone Number (ex. 1234567890)" name="phone"
               pattern="\d\d\d\d\d\d\d\d\d\d">

        <label><b>Date of Birth</b></label>
        <input type="date" name="dateofbirth">

        <label><b>Address</b></label>
        <input type="text" placeholder="Enter Address" name="address">

        <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="updatebtn">Update</button>
        </div>
    </div>
</form>

</body>
<script>
    var email = window.sessionStorage.getItem("email");
    $("#email").text(email);
    var sql = "select * from passenger where email = " + JSON.stringify(email);
    postQuery({query: sql}, fillInProfile);

    function fillInProfile(data) {
        var info = data.body.result[0];
        var fields = ["phone", "address", "dateofbirth"];
        $("#name").text(info["pname"]);
        fields.forEach(function (field) {
            var res = info[field];
            if (res !== null){
                if (field ==="phone") {
                    res = res.replace(['\-'], '');
                    res = res.replace(['\-'], '');
                }
                if (field ==="dateofbirth")
                    $("input[name="+field).val(res);
                else
                    $("input[name="+field).attr("placeholder", res);
            }
        })

    }

    var isLoggedIn = JSON.parse(window.sessionStorage.getItem('isLoggedIn'));
    if (!isLoggedIn) window.location.href = './';
    $(".cancelbtn")
        .click(function () {
            window.location.href = '/'
        });
    $('#updateForm').submit(function (event) {
        $('#updateMsg').text('');
        event.preventDefault();

        var $form = $('#updateForm'),
            email = JSON.stringify($form.find("input[name='email']").val()),
            currpwd = JSON.stringify($form.find("input[name='currpsw']").val()),
            password = JSON.stringify($form.find("input[name='psw']").val()),
            repassword = JSON.stringify($form.find("input[name='psw-repeat']").val()),
            rawPhone = $form.find("input[name='phone']").val(),
            phone = JSON.stringify(rawPhone.slice(0, 3) + "-" + rawPhone.slice(3, 6) + "-" + rawPhone.slice(6)),
            info = [email, password, name, phone].join(", "),
            sql = "insert into passenger(email, password, pname, phone) values (" + info + ")";
        if(currpwd === "" || password === "" || repassword === "") {
            var pswInDB = $.ajax({
                type: 'POST',
                url: "./profile",
                data: data,
                success: success,
                contentType: "application/json; charset=utf-8",
                async:false
            });
            if (password !== repassword) {
                return $('#signupMsg').text('Password confirmation does NOT match');
            }
        }



        $.ajax({
            type: 'POST',
            url: './profile',
            data: JSON.stringify({query: sql}),
            contentType: "application/json; charset=utf-8",
            success: signupHandler
        })
    });

    function signupHandler(res) {
        var $form = $('#signupForm');

        if (res.code === 400) {
            return $('#signupMsg').text('Email: ' + $form.find("input[name='email']").val() + ' already exists');
        }

        window.sessionStorage.setItem("email", $form.find("input[name='email']").val());
        window.sessionStorage.setItem("isLoggedIn", true);
        window.location.href = '/'
    }
</script>