
<div class = "jumbotron" id="reservationSearch">

    <h4>My Reservations</h4>
    <hr>
<div class="resDiv" id="resDiv">
    <table class="table table-hover" id="seatTable"></table>
    <button type="button" class = "btn btn-success" id="totalCost">Total Cost : Click to Update</button>
    <p id="demo"></p>
</div>
</div>


<script >

    var session = window.sessionStorage,
        isPassenger = window.sessionStorage.getItem('usertype') === "passenger",
        isLoggedIn = JSON.parse(session.getItem('isLoggedIn'));
    if (!isLoggedIn || !isPassenger) window.location.href = './';


    var email = session.getItem('email');

    var sql = getReservation(email);
    postQuerySync({query: sql}, reservationHandler);

    $(document).on("click", "#totalCost", function () {
        var cost_sql = passengerCheckTotalCost(email);
        postQuery({query: cost_sql}, totalCostHandler);
    });


    $(document).on("click", ".reserve-buttons", function () {



        var id = $(this).attr('id');

        var flightNum = document.getElementById('seatTable').rows[id].cells[2].innerHTML;
        var oldConfNum = document.getElementById('seatTable').rows[id].cells[1].innerHTML;
        var oldSeatNum = document.getElementById('seatTable').rows[id].cells[3].innerHTML;


        session.setItem('oldConfNum', oldConfNum);
        session.setItem('flightNum', flightNum);
        session.setItem('oldSeatNum', oldSeatNum);

        var oldSeatPrice_sql = getOldSeatPrice(oldSeatNum);
        postQuerySync({query: oldSeatPrice_sql}, null);

        var seats_sql = viewAvailableSeats(flightNum);
        clearResult();
        postQuery({query: seats_sql}, changeSeatHandler);

    });

    $(document).on("click", '#cancelSwitch', function () {

        session.removeItem('oldConfNum');
        session.removeItem('flightNum');
        session.removeItem('oldSeatNum');
        clearResult();
        var drop = dropOldSeatPriceView();
        postQuerySync({query: drop},null);
        var sql2 = getReservation(email);
        postQuerySync({query: sql2}, reservationHandler);

    });

    $(document).on("click", '#switchSeat', function () {

        var ConfNum = session.getItem('oldConfNum');
        var FlightNum = session.getItem('flightNum');

        select(ConfNum, FlightNum);

        session.removeItem('oldConfNum');
        session.removeItem('flightNum');
        session.removeItem('oldSeatNum');

        var drop = dropOldSeatPriceView();
        postQuerySync({query: drop}, null);
        var sql2 = getReservation(email);
        postQuerySync({query: sql2}, reservationHandler);

    });

</script>
