
<form action="/" method="POST" id="signupForm">
    <div class="container">
        <p class="signupMsg" id="signupMsg"></p>
        <label><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}">

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <label><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

        <label><b>First Name</b></label>
        <input type="text" placeholder="Enter First Name" name="fname" required pattern="[a-zA-Z]+(\s[a-zA-Z]+)*">

        <label><b>Last Name</b></label>
        <input type="text" placeholder="Enter Last Name" name="lname" required pattern="[a-zA-Z]+">

        <label><b>Phone Number</b></label>
        <input type="text" placeholder="Enter Phone Number (ex. 1234567890)" name="phone" required pattern="\d\d\d\d\d\d\d\d\d\d">

        <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>
    </div>
</form>

<script>
    var isLoggedIn = JSON.parse(window.sessionStorage.getItem('isLoggedIn'));
    if (isLoggedIn) window.location.href = './';
    $(".cancelbtn")
        .click(function () {
            window.location.href='/'
        });
    $('#signupForm').submit(function(event) {
        $('#signupMsg').text('');
        event.preventDefault();

        var $form = $('#signupForm'),
            email = JSON.stringify($form.find("input[name='email']").val()),
            password = JSON.stringify($form.find("input[name='psw']").val()),
            repassword = JSON.stringify($form.find("input[name='psw-repeat']").val()),
            name = JSON.stringify(capitalizeName($form.find("input[name='fname']").val()) + " "
                + capitalizeName($form.find("input[name='lname']").val())),
            rawPhone = $form.find("input[name='phone']").val(),
            phone = JSON.stringify(rawPhone.slice(0, 3) + "-" + rawPhone.slice(3, 6) + "-" + rawPhone.slice(6)),
            info = [email, password, name, phone].join(", "),
            sql = "insert into passenger(email, password, pname, phone) values (" + info + ")";
        if (password !== repassword){
            return $('#signupMsg').text('Password confirmation does NOT match');
        }
        $.ajax({
            type: 'POST',
            url: './signup',
            data: JSON.stringify({query: sql}),
            contentType: "application/json; charset=utf-8",
            success: signupHandler
        })
    });
    function capitalizeName(word) {
        return word.charAt(0).toUpperCase() + word.slice(1);
    }

    function signupHandler(res) {
        var $form = $('#signupForm');

        if (res.code === 400){
            return $('#signupMsg').text('Email: ' + $form.find("input[name='email']").val() + ' already exists');
        }

        window.sessionStorage.setItem("email", $form.find("input[name='email']").val());
        window.sessionStorage.setItem("isLoggedIn", true);
        window.sessionStorage.setItem("usertype", "passenger");
        window.location.href='/'
    }
</script>