
/* login.html */
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
#loginForm input[type=text], input[type=password], input[type=date] {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.loginMsg {
    color:red;
}

/* Set a style for all buttons */
#loginForm button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
#loginForm button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
     width: auto;
     padding: 10px 18px;
     background-color: #f44336;
 }


/* Add padding to containers */
.container {
    padding: 16px;
}
